@use "variables" as v;

@mixin btn($theme, $radius: 5px) {
  .btn-#{$theme} {
    position: relative;
    border-radius: $radius;
    padding: 20px 30px;
    width: 200px;
    font-size: 12.8px;

    @if $theme == "transparent" {
      background: transparent;
      border: 1px solid var(--light-300);
    }

    @if $theme == "green" {
      background: var(--accent-green);
    }

    @if $theme == "amber" {
        background: var(--accent-amber);
    }

    @if $theme == "purple" {
        background: var(--accent-purple);
    }
  }
};

@mixin btn-theme {
  @for $i from 1 through 4 {
    @include btn(nth(v.$btn-background, $i))
  }
}

@mixin btn-icons {
  @each $value in v.$button {
    .icon-#{$value}::before {
      content: "";
      background: url("../../assets/images/icons/#{$value}.svg") no-repeat;
      width: 20px;
      aspect-ratio: 1 / 1;
      left: 30px;
      top: calc(50% - 10px);
      position: absolute;
    }
  }
}


@mixin pricing-back {
  @each $value in v.$pricing-card-back {
    .bg-#{$value} {
      background: url("../../assets/images/#{$value}.png") no-repeat;
      background-size: cover;
    }
  }
}

@mixin social-link {
  @each $value in v.$social {
    .social-link-#{$value} {
      background: url("../../assets/images/icons/#{$value}.png") no-repeat;
      width: 26px;
      height: 19px;
    }
  }
}
