// map

$color: (
  dark-800: hsl(270deg 2% 24%),
  dark-900: hsl(273deg 73% 3%),
  light-200: hsl(0deg 0% 88%),
  light-300: hsl(0deg 0% 79%),
  accent-green: hsl(148deg 58% 48%),
  accent-orange: hsl(35deg 98% 49%),
  accent-purple: hsl(261deg 60% 39%),
  accent-amber: hsl(20deg 85% 32%)
);
$font-size: (
  heading-1: clamp(1.875rem, 1.1184rem + 2.924vi, 3.75rem),
  heading-2: clamp(1.125rem, 0.6206rem + 1.9493vi, 2.375rem),
  heading-3: clamp(1rem, 0.5928rem + 1.5738vi, 1.8125rem)
);

// list

$btn-background: ("transparent", "green", "amber", "purple");
$pricing-card-back: ("free", "standard", "premium");
$social: ("google", "instagram", "twitter");
$button: ("heart", "play");
