
$color: (
  dark-800: hsl(270deg 2% 24%),
  dark-900: hsl(273deg 73% 3%),
  light-200: hsl(0deg 0% 88%),
  light-300: hsl(0deg 0% 79%),
  accent-green: hsl(148deg 58% 48%),
  accent-orange: hsl(35deg 98% 49%),
  accent-purple: hsl(261deg 60% 39%),
  accent-amber: hsl(20deg 85% 32%)

)
