.cover-album-big {
  aspect-ratio: 1 / 1;
}

.discography-info,
.similar-info {
  margin-top: 18px;

  h3 {
    font-size: 17px;
    text-transform: none;
    line-height: 27px;
  }

  p {
    color: var(--light-200);
  }
}
