.column {
  grid-template-columns: 1fr 1fr;
  gap: 25px 50px;
}

.popular-track {
  gap: 15px;
  align-items: center;
}

.track-info {
  width: 100%;
  font-size: 12.8px;
  align-items: center;
}

.song-time {
  margin-left: auto;
}

.album-cover {
  width: 55px;
  aspect-ratio: 1 / 1;
}
