@use "../abstracts/mixin" as m;
@include social-link;

.footer {
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-navigation {
  padding: 62px 0 72px;
  gap: 40px;
}

.footer-nav-list {
  width: 270px;

  &:not(:last-child) {
    display: flex;
    flex-direction: column;
  }
}

.footer-nav-list > li:not(h2) {
  display: inline;

  li:nth-child(1) {
    margin-right: 24px;
  }
}

.footer-down-navigation a,
.footer-nav-list a {
  text-transform: none;
  font-weight: normal;
}

.footer-nav-title {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}

.footer-down-navigation {
  padding: 40px 0 50px;
  border-top: 1px solid var(--light-300);

  ul {
    gap: 16px;
  }
}



