@media (width <= 430px) {
  .container {
    width: 100%;
    padding-left:20px;
    padding-right:20px;
  }

  .px-20 {
    padding-left: 0;
    padding-right: 0;
  }

  .hero {
    padding: 250px 0 200px;
  }

  .hero-content p {
    margin: 16px 0;
  }

  .header {
    font-family: roboto-bold, 'Times New Roman', serif;
  }

  .header,
  .nav-list {
    flex-direction: column;
    align-items: start;
  }

  .nav-list {
    gap: 0;
    margin: 18px 0;
  }

  .hero-artist {
    padding: 225px 0;
  }

  .form-search {
    margin: 0;
    width: 100%;

    input {
      width: 100%;
    }
  }

  .pricing-card {
    width: 100%;
  }

  .pricing-title {
    font-size: 16px;
    font-weight: normal;
  }

  .news-card {
    flex-direction: column;

    &:last-child > img {
      order: 1;
    }

    .switch-order {
      order: 2;
    }
  }

  .news-title {
    padding-bottom: 16px;
  }

  .news-footer a {
    margin: 48px 0 0;
  }

  .footer-navigation {
    gap: 30px;
  }

  .section-app-container,
  .pricing-content {
    flex-direction: column;
  }

  .section-app-content {
    order: 1;
  }

  .section-app-img {
    order: 0;
  }

  .footer-navigation,
  .footer-down-navigation ul {
    flex-direction: column;
  }

  .controls-container {
    button:nth-child(1) {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }

  .column {
    grid-template-columns: 1fr;
  }

  .cover-card {
    width: 137px;
  }
}
