
.news-card {
  gap: 50px;

  &:not(:last-child) {
    margin-bottom: 62px;
  }

  &:last-child > img {
    order: 2;
  }

  h2 {
    letter-spacing: 1;
  }
}

.news-body,
.news-footer {
  text-align: start;
}

.news-cover {
  width: 575px;
  height: 286px;
}

.news-title {
  font-size: var(--heading-3);
  font-weight: normal;
  line-height: clamp(1.5rem, 0.8735rem + 2.4213vi, 2.75rem);
  text-transform: none;
  padding-bottom: 30px;
}

.news-preview {
  color: var(--light-300);
  padding-bottom: 24px;
}

.news-author {
  gap: 16px;

  p:not(:last-child) {
    color: hsl(35deg 98% 49%);
  }

  p {
    font-size: 12.8px;
  }
}

.news-footer a {
  margin: 48px 0 18px;

  .btn-margin {
    margin: 48px 0 28px;
  }
}


