
.news-card {
  gap: 50px;

  &:not(:last-child) {
    margin-bottom: 54px;
  }

  &:last-child > img {
    order: 2;
  }

  h2 {
    letter-spacing: 1;
  }
}

.news-body,
.news-footer {
  text-align: start;
}

.news-cover,
.news-body {
  width: 575px;
}

.news-title {
  font-size: 30px;
  font-weight: normal;
  line-height: 45px;
  text-transform: none;
  padding-bottom: 30px;
}

.news-preview {
  color: var(--light-300);
  padding-bottom: 24px;
}

.news-author {
  gap: 16px;
}

.news-author p {
  font-size: 12.8px;
}

.news-author p:not(:last-child) {
  color: hsl(35deg 98% 49%);
}

.news-footer a {
  margin: 48px 0 28px;
}


