@font-face {
  font-family: Roboto-Regular;
  src: url("../../assets/fonts/Roboto-Regular.ttf");
  font-display: wrap;
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../../assets/fonts/Roboto-Medium.ttf");
  font-display: wrap;
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../../assets/fonts/Roboto-Bold.ttf");
  font-display: wrap;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

input,
button {
  border: none;
}

:root {
  --dark-800: hsl(270, 2%, 24%);
  --dark-900: hsl(273, 73%, 3%);
  --light-200: hsl(0, 0%, 88%);
  --light-300: hsl(0, 0%, 79%);
  --accent-green: hsl(148, 58%, 48%);
  --accent-orange: hsl(35, 98%, 49%);
  --accent-purple: hsl(261, 60%, 39%);
  --accent-amber: hsl(20, 85%, 32%);
  --heading-1: clamp(1.875rem, 1.1184rem + 2.924vi, 3.75rem);
  --heading-2: clamp(1.125rem, 0.6206rem + 1.9493vi, 2.375rem);
  --heading-3: clamp(1rem, 0.5928rem + 1.5738vi, 1.8125rem);
}

html {
  font-size: 16px;
  font-family: Roboto-Regular;
  line-height: 1.5;
  color: #fff;
}

body {
  background: var(--dark-900);
}

h1,
h2,
h3,
button,
a {
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  letter-spacing: -1px;
  font-weight: 900;
  color: #fff;
}

h1 {
  font-size: var(--heading-1);
  line-height: clamp(2.8125rem, 1.6776rem + 4.386vi, 5.625rem);
}

h2 {
  font-size: var(--heading-2);
  line-height: clamp(1.6875rem, 0.9309rem + 2.924vi, 3.5625rem);
}

main {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.py-200 {
  padding: 200px 0;
}

.pt-100 {
  padding-top: 100px;
}

.section-title {
  margin-bottom: 48px;
}

.hero-content,
.subscription,
.pricing-card,
.news {
  text-align: center;
}

.header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  font-size: 11px;
  align-items: center;
}

.header-logo {
  align-items: center;
  margin-right: 90px;
}

.company-logo {
  width: 24px;
  aspect-ratio: 1/1;
  margin-right: 16px;
}

.nav-list {
  gap: 24px;
}

.form-search input {
  padding: 5px 0 5px 10px;
  background: var(--dark-800);
  border-radius: 50px;
  color: hsl(0, 0%, 46%);
}

.form-search {
  margin-left: auto;
}
.form-search input {
  min-width: 248px;
}

.hero {
  background: url("../../assets/images/banner.png") center/cover;
}

.hero-content p {
  margin: 31px 0 17px;
}

.main-form * {
  color: #fff;
}

.main-form {
  margin: 0 auto;
  max-width: 570px;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.main-form input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  flex-grow: 2;
  background: transparent;
  border: 2px solid var(--light-300);
  border-radius: 2px;
}
.main-form input::placeholder {
  font-size: 14px;
}
.main-form button {
  font-size: 14px;
  min-width: 100%;
}

@media (max-width: 430px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .hero {
    padding: 250px 0 200px;
  }
  .hero-content p {
    margin: 16px 0;
  }
  .header {
    font-family: roboto-bold;
  }
  .header,
  .nav-list {
    flex-direction: column;
    align-items: start;
  }
  .nav-list {
    gap: 0px;
    margin: 18px 0;
  }
  .form-search {
    margin: 0;
    width: 100%;
  }
  .form-search input {
    width: 100%;
  }
  .pricing-card {
    width: 100%;
  }
}
.btn-transparent {
  border-radius: 5px;
  padding: 20px 30px;
  background: transparent;
  border: 1px solid var(--light-300);
}

.btn-green {
  border-radius: 5px;
  padding: 20px 30px;
  background: var(--accent-green);
}

.btn-amber {
  border-radius: 5px;
  padding: 20px 30px;
  background: var(--accent-amber);
}

.btn-purple {
  border-radius: 5px;
  padding: 20px 30px;
  background: var(--accent-amber);
}

.pricing-card > a {
  width: 100%;
}

.bg-free {
  background: url("../../assets/images/free.png") center/cover;
}

.bg-standard {
  background: url("../../assets/images/standard.png") center/cover;
}

.bg-premium {
  background: url("../../assets/images/premium.png") center/cover;
}

.subscription > .flex-container {
  gap: 50px;
  flex-wrap: wrap;
}

.pricing-card {
  padding: 1.5rem;
  border-radius: 1rem;
  width: 366px;
  height: 615px;
  margin-bottom: 40px;
}

.pricing-title {
  font-size: 24px;
  margin-bottom: 200px;
}

.price-value {
  font-size: 64px;
  line-height: 1em;
  margin-bottom: 40px;
}
.price-value span {
  vertical-align: 10px;
  font-size: 32px;
}

.pricing-footer {
  margin-top: 64px;
  font-size: 13px;
}

.news-card {
  gap: 50px;
}
.news-card:not(:last-child) {
  margin-bottom: 65px;
}
.news-card:last-child > img {
  order: 2;
}
.news-card .news-body,
.news-card .news-footer {
  text-align: start;
}
.news-card .news-title {
  font-size: var(--heading-3);
  font-weight: normal;
  line-height: clamp(1.5rem, 0.8735rem + 2.4213vi, 2.75rem);
  text-transform: none;
  padding-bottom: 30px;
}
.news-card .news-preview {
  padding-bottom: 24px;
}
.news-card .news-author p {
  color: hsl(35, 98%, 49%);
  padding: 0 16px;
}

.news-footer a {
  margin: 48px 0 18px;
}/*# sourceMappingURL=main.css.map */